* {
    border: 1px dotted red;
    font-family: Arial, Helvetica, sans-serif 
    
    .......................................... ;
}

body {
    background-color: rgb(119, 158, 119);
}
h1 {
    color: blue;
    text-align: center;
}

#description {
    color: white;
    text-align: center;
}

ul {
    list-style-type: disc;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
img {
    width: 100%
    height: auto;
}

input {
    background-color: orange;
}

text {
    background-color: white;
    border-width: 2px;
    border-style: inset;
    border-color: internal-light-dark{rgb(red, green, blue)};
}

form {
    background-color: red;
    border: 3px solid yellow;
    border-radius: 5px;
}